<md-content class="home-calculator">
	<h1>Welcome to the Tax Cuts for Impact App!</h1>
	
	<div>
		<!-- <p><input type="number" ng-model="a"></p>
		<p><input type="number" ng-model="b"></p>
		<p>{{ result() }}</p> -->
		<form ng-submit="home.result(total)">
			<div class="form-group">
			  <input type="number" class="form-control" placeholder="Tax" ng-model="home.total.a">
			</div>
		  <div class="form-group">
		    <input type="number" class="form-control" placeholder="Tax" ng-model="home.total.b">
		  </div>
		  <button ng-click="home.showPledgeForm=true" class="btn btn-default">Total Savings</button>
		</form>

		<div><p>{{home.noUser}}</p></div>
		<form ng-show="home.showPledgeForm" ng-submit="home.makePledge(pledge)">
			<div class="form-group">
			  <input type="text" class="form-control" ng-model="home.pledge.savings" placeholder="{{home.product}}">
			</div>
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Full Name" ng-model="home.pledge.name">
			</div>
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Email" ng-model="home.pledge.email">
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Zip" ng-model="home.pledge.zip">
		  </div>
		  <button class="btn btn-default">Make a Pledge</button>
		</form>
	</div>
</md-content>