md-content.home-calculator {
	margin: 0 auto;
}

.home-calculator {
	text-align: center;
	width: 60%;
}

.no-user {
	color: red;
	height: 50px;
	padding: 15px;
}

.calculator-container {
	margin: 25px;
}

.pledge-list {
	list-style: none;
}

.org-thumbnail {
	width: 45%;
	margin: 15px auto;
}

.calc {
	width: 50%;
	margin: 0 auto;
}