<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			<a href="/"><span>Tax Cuts for Impact</span></a>
		</h2>

		<span flex></span>

		<md-button><a href="/">Home</a></md-button>
		<md-button
			aria-label="Login"
			ng-click="toolbar.login()"
			ng-if="!toolbar.auth.isAuthenticated">
			Signup / Login
		</md-button>
		<md-button
			aria-label="Profile"
			ui-sref="profile"
			ng-if="toolbar.auth.isAuthenticated">
			Profile
		</md-button>
		<md-button
			aria-label="Logout"
			ng-click="toolbar.logout()"
			ng-if="toolbar.auth.isAuthenticated">
			Logout
		</md-button>
	</div>
</md-toolbar>